.popup {
  display: none;
  position: fixed;
  top: 195px;
  left: 50%;
  transform: translate(-50%);
}

.popup::before {
  content: '';
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .popup {
    top: 123px;
  }
}