.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../image/like.png);
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: hidden;
}

.element__like:hover {
  opacity: .6;
  transition: .4s;
  
}

.element__like:active {
  background-image: url(../../../image/likeActive.png);
  opacity: 1;
}