.popup__input {
  width: 358px;
  min-height: 27px;
  margin: 0 auto 30px;
  border: none;
  box-sizing: border-box;
}

.popup__input:focus {
  border: #55d;
}

@media screen and (max-width: 768px) {
  .popup__input {
    width: 238px;
  }
}