.porfile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../image/AddButton.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  border: none;
  border-radius: 2px;
  padding: 0;
  transition: .4s;
}

.porfile__add-button:hover {
  opacity: .6;  
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto;
  }
}