.profile-info {
  width: 336px;
  min-height: 72px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 62px auto 75px 30px;
}

@media screen and (max-width: 768px) {
  .profile-info {
    width: 282px;
    min-height: 54px;
    text-align: center;
    margin: 26px auto 36px;
    justify-content: center;
  }
}